<div class="container">
  <div class="row">
    <div class="user-page">
      <div class="col-xs-12">
        <div class="user-page__content">
          <h1 class="user-page__title">マイページ</h1>
          <div class="user-page__top-info">
            <div class="user-page__profile-image">
              <%= attachment_image_tag @user, :profile_image, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size: "30×30" %>
            </div>
            <div class="user-page__name">
              <h2><%= @user.name %></h2>
            </div>
          </div>
          <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right btn btn-primary" %></p>
          <% end %>
          <table class="user-page__table table table-bordered">
            <tr>
              <th>名前</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>