<div class="row">
  <div class="col-xs-6 col-xs-offset-3 post_image_form">

    <div class="section-title-content">
      <h3 class="section-title">
        <span>画像投稿フォーム</span>
      </h3>
    </div>

    <%= form_for(@post_image, url: post_images_path) do |f| %>
    <% if @post_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post_image.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @post_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.attachment_field :image %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.text_area :menu, class: "form-control", size: "70x5", placeholder:"menu" %>
        <%= f.text_area :title, class: "form-control", size: "70x5",placeholder: "今日の感想" %>
      </div>
    </div>
    <br>
    <%= f.submit "投稿", class:"btn btn-block" %>
    <% end %>
  </div>
</div>